## Exercice 1 : les impairs

In [34]:
a=3
b=12

liste = 0

for element in range (a, b,2):
    
    print (element)

# je pense qu il fallait tester pour element=un nombre entier et si decimal, ne prendre que l'entier pour réafficher la fonction

3
5
7
9
11

## Exercice 2 : le jeu du plus ou moins

In [44]:

choix_ordi = 5

choix_utilisateur = 25
#choix_utilisateur = input ("Entrez un chiffre entre 1 et 100")
if choix_ordi>choix_utilisateur:
    print ("Entrez un nombre plus grand")
elif choix_ordi<choix_utilisateur:
    print ("Entrez un nombre plus petit")
else:
    print ("c'est le bon nombre")

Entrez un nombre plus petit

### option 1

In [48]:
choix_ordi = 5

choix_utilisateur = 5
#choix_utilisateur = input ("Entrez un chiffre entre 1 et 100")
if choix_utilisateur>100:
    print("message d'erreur, il faut un nombre entre 1 et 100")
elif choix_utilisateur<1:
    print("message d'erreur, il faut un nombre entre 1 et 100")
elif choix_ordi>choix_utilisateur:
    print ("Entrez un nombre plus grand")
elif choix_ordi<choix_utilisateur:
    print ("Entrez un nombre plus petit")
else:
    print ("c'est le bon nombre")

c'est le bon nombre

## Exercice 3 : les plus grands nombres

In [82]:
from random import randint as rd
liste = []
for i in range(100):
    liste.append(rd(0, 100000) )
print(liste)

[34101, 87948, 17612, 18639, 21513, 85084, 12695, 94683, 56145, 51269, 47813, 76128, 76618, 58108, 67745, 96499, 98365, 30877, 48341, 47265, 77607, 99158, 5082, 86906, 48303, 81299, 8272, 28684, 17754, 287, 68942, 76795, 17943, 69345, 67498, 5565, 12433, 97052, 21335, 27216, 98434, 10588, 68073, 13966, 56689, 60483, 10891, 17827, 74950, 71215, 92249, 85916, 68341, 73218, 61820, 72010, 19236, 616, 93465, 54289, 96848, 79, 67792, 88911, 88377, 47026, 45897, 84235, 80156, 98833, 45289, 20914, 55509, 32941, 15507, 42316, 84363, 94491, 19650, 13565, 84684, 80994, 79979, 72148, 52381, 7712, 72008, 5797, 84456, 13057, 77299, 40090, 15000, 56155, 42130, 4894, 7396, 38363, 28757, 93628]

In [87]:
#utiliser un dictionnaire et quantile 0,9
#1 les classer par ordre croissant

In [92]:
print(max(liste))

99158

In [113]:
limite = np.quantile((liste), 0.9)
print (limite)

93481.3

In [114]:
for i in liste :
    if i >limite :
        print (i)

94683
96499
98365
99158
97052
98434
96848
98833
94491
93628

In [116]:
# deuxieme version avec len

In [166]:
liste_ordonnee = np.unique(liste)
print(liste_ordonnee)

[  287   616  4894  5082  5565  5797  7396  7712  8272 10588 10891 12433
 12695 13057 13565 13966 15000 15507 17612 17754 17827 17943 18639 19236
 19650 20914 21335 21513 27216 28684 28757 30877 32941 34101 38363 40090
 42130 42316 45289 45897 47026 47265 47813 48303 48341 51269 52381 54289
 55509 56145 56155 56689 58108 60483 61820 67498 67745 67792 68073 68341
 68942 69345 71215 72008 72010 72148 73218 74950 76128 76618 76795 77299
 77607 79979 80156 80994 81299 84235 84363 84456 84684 85084 85916 86906
 87948 88377 88911 92249 93465 93628 94491 94683 96499 96848 97052 98365
 98434 98833 99158]

In [168]:
m = np.quantile(liste_ordonnee,[0.9])
print(m)

[93497.6]

In [169]:
for i in liste_ordonnee:
    if i>m:
        print(i)

93628
94491
94683
96499
96848
97052
98365
98434
98833
99158

## Exercice 4 : les algorithmes de tri

In [38]:
import time
l = [25,0,567,5,76,1,-1,90]
for s in range(len(l)):
    for z in range(s+1,len(l)):
        if l[s]>l[z]:
            l[s],l[z]=l[z], l[s]
l
time.perf_counter()

1665.359492833

In [35]:
l = [25,0,567,5,76,1,-1,90]
l.remove(5)
l
time.perf_counter()

1627.968202458

In [9]:
l = [64, 64, 12, 22, 11, 1,2,44,3,122, 23, 34]
dir(l)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [36]:
l = [64, 64, 12, 22, 11, 1,2,44,3,122, 23, 34]
new_l = []
for i in range(len(l)):
    m = min(l)
    new_l.append(m)
    l.remove(m)

print (new_l)
time.perf_counter()

[1, 2, 3, 11, 12, 22, 23, 34, 44, 64, 64, 122]

1639.380142417

## Exercice 5 : des conversions

In [185]:
#soit s l'input "entrez un nombre de secondes"
s = 3430061596791935255

annee = s//31536000
print(annee)
mois = (s-annee*31536000)//2629800
print(mois)
jours = (s-annee*31536000-mois*2629800)//86400
print(jours)
heures = (s-annee*31536000-mois*2629800-jours*86400)//3600
print(heures)
minutes = (s-annee*31536000-mois*2629800-jours*86400-heures*3600)//60
print(minutes)
secondes = (s-annee*31536000-mois*2629800-jours*86400-heures*3600-minutes*60)
print(secondes)
print(f"Dans {s} secondes, il y a {annee} années, {mois} mois, {jours} jours")
print(f"{heures} heures, {minutes} minutes, {secondes} secondes")

108766539725
9
7
17
17
35
Dans 3430061596791935255 secondes, il y a 108766539725 années, 9 mois, 7 jours
17 heures, 17 minutes, 35 secondes

In [186]:
# deuxieme programme

In [196]:
vitesse_fournie = 25
 
vitesse_kmh = vitesse_fournie/1609*1000
print(vitesse_kmh)

vitesse_kmh= str(round( vitesse_kmh, 2))
print(vitesse_kmh)

15.537600994406464
15.54

## Exercice 6 : le triangle de Pascal

In [90]:
n=4

def matrice(m):
    for i in range(len(m)):
        for j in range(len(m[i])):
            print(m[i][j])
def tri(n):
    m=list(range(n+1))
    for i in range(n+1):
        m[i]= list(range(i+1))
        for j in range(i+1):
            if j == 0:
                m[i][j]= 1
            elif j == 1:
                m[i][j]= 1
            else:
                m[i][j]=m[i-1][j-1][j]
    return m
print(matrice)

<function matrice at 0x7ff44804fb80>

In [40]:
def tri(n):
    indice = [[0] * (n+1) for p in range(n+1)]
    for n in range(n+1):
        if n == 0:
            indice[n][0] = 1
        else:
            for l in range(n+1):
                if l == 0:
                    indice[n][0] = 1
                else:
                    indice[n][l] = indice[n-1][l-1] + indice[n-1][l]
    return indice

## Exercice 7 : manipulations de dictionnaires

Écrire une fonction qui échange les clés et les valeurs d'un dictionnaire (ce qui permettra par exemple de transformer un dictionnaire anglais/français en un dictionnaire français/anglais). On suppose qu’il n’y a pas de valeurs en double pour simplifier.

In [291]:
input = ("Veuillez saisir un mot: ")
dico_francais = {"mot_francais":"bonjour"}
dico_anglais = {"mot_anglais":"hello"}

for mot in dico_francais :
#echange le mot en francais en anglais
    
    mot = "mot_francais"
    mot_ang = "mot_anglais"
    mot = mot_ang
    print(mot)

mot_anglais

## Exercice 8 : manipulations de fichiers textes

Écrire un script qui permet de créer et de relire aisément un fichier texte. Votre programme demandera d'abord à l'utilisateur d'entrer le nom du fichier. Ensuite il lui proposera le choix, soit d'enregistrer de nouvelles lignes de texte, soit d'afficher le contenu du fichier. L'utilisateur devra pouvoir entrer ses lignes de texte successives en utilisant simplement la touche <Enter> pour les séparer les unes des autres. Pour terminer les entrées, il lui suffira d'entrer une ligne vide (c'est-à-dire utiliser la touche <Enter> seule).

In [38]:
input = ("Entrez le nom du fichier:")
print(input)


a = "entrer_des_lignes"
b = "afficher_le_contenu_du_fichier"
def choix (a,b):
    if choix == a:
        print ("Entrer vos lignes de texte successives en utilisant simplement la touche <Enter> pour les séparer les unes des autres. Pour terminer les entrées, il vous suffira d'entrer une ligne vide (c'est-à-dire utiliser la touche <Enter> seule).")
    else :
        f = open("test.txt",'r')
        message1 = f.read()
        print("J affiche le contenu du fichier")

Entrez le nom du fichier:

Écrire un script qui génère automatiquement un fichier texte contenant les tables de multiplication de 2 à 30 (chacune d'entre elles incluant 20 termes seulement).

In [353]:
element = [1,2,3,4]
for element in range (0,21):
    for i in range (2,30):
        table = i*element
#        print(table)
table2 = str(table)
print (type(table2))
print (table2)

<class 'str'>
580

Écrire un script qui recopie un fichier texte en triplant tous les espaces entre les mots.

In [36]:

texte = ["test.txt"]
#texte = "Bonjour la promo Euskadi"
f = open("test.txt",'r')
message1 = f.read()
def elimine(message1):
    espace = ["" ""]
    espace3 = espace*3
    for espace in message1:
        message1 = message1.replace(espace , espace3)
print(message1)

Bonjour, la promo Dev IA Euskadi
Aujourd'hui, nous manipulons les fichiers txt
avec l'exercice 8

In [54]:
import re
texte = "Bonjour la promo Euskadi"

espace = ""
espace3 = """"""
def processString3(texte):
    texte = re.sub(espace, espace3, texte)
processString3(texte)
print(texte)
  
processString3(texte)

Bonjour la promo Euskadi

À partir de deux fichiers préexistants A et B, construisez un fichier C qui contienne alternativement une ligne de A, une ligne de B... et ainsi de suite jusqu'à atteindre la fin de l'un des deux fichiers originaux. Complétez ensuite C avec les éléments restant sur l'autre.

In [3]:
fichierA = ["test.txt"]
fichierB = ["test2.txt"]
fichierC = []
f = open("test.txt",'r')
message1 = f.read()
f = open("test2.txt",'r')
message2 = f.read()
print(message1, message2)

f = open("test.txt", 'r')
text=f.readlines()
NumberOfLine = len(text)
print(NumberOfLine)
f = open("test2.txt", 'r')
text=f.readlines()
NumberOfLine2 = len(text)
print(NumberOfLine2)
i = []

f.close()

Bonjour, la promo Dev IA Euskadi
Aujourd'hui, nous manipulons les fichiers txt
avec l'exercice 8
 Bonjour, la promo Dev IA Euskadi 2
Aujourd'hui, nous manipulons les fichiers txt 2
avec l'exercice 8 2
mais ce n est pas si facile que ça ! 2
3
4

Exercice 9 : quelques notes

Écrire un programme permettant d'entrer des notes d'élèves d’élèves sur 20 jusqu’à ce l’utilisateur saisisse une note vide. Construire une liste et à chaque nouvelle entrée, afficher le nombre de notes entrées, la note la plus élevée, la note la plus basse, la moyenne de toutes les notes.

In [104]:
notes_nicolas = [18,20,15]
notes_ophelie = [2,10,20,4,7,12,20]
liste =[]
liste.extend(notes_ophelie)
liste.extend(notes_nicolas)
print(liste)

[2, 10, 20, 4, 7, 12, 20, 18, 20, 15]

In [110]:
len(liste)

10

In [107]:
notes_nicolas = [18,20,15]
notes_ophelie = [2,10,20,4,7,12,20]
liste =[]
liste.extend(notes_ophelie)
liste.extend(notes_nicolas)
moyenne = sum(liste)/float(len(liste))
print(moyenne)

12.8

In [108]:
notes_nicolas = [18,20,15]
notes_ophelie = [2,10,20,4,7,12,20]
liste =[]
liste.extend(notes_ophelie)
liste.extend(notes_nicolas)
min(liste)

2

In [109]:
max(liste)

20

## Exercice 10 : une première base de données

Écrire un script qui crée un système de base de données fonctionnant à l'aide d'un dictionnaire, et dans lequel vous mémoriserez les noms d'une série d’individus, leur âge, leur sexe et leur taille. Votre script devra comporter 4 fonctions : la première pour le remplissage du dictionnaire, la seconde pour sa consultation, la troisième pour sa sauvegarde au format texte et la quatrième pour reconstituer le dictionnaire à partir du fichier texte.

In [ ]:
# faire avec gadfly , while